h1,h3{
    text-align: center;
}

.flex-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 120px;
  
}

 .bd-intro{
    width: 50%;
    padding: 0 10px;
    text-align: justify;
 }
 .bd-map{
    width: 50%;
 }

 .bd-map img{
     width: 50%;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .link{
     background-image: linear-gradient(45deg,red,green,red);
     text-decoration: none;
     color:white;
     font-weight: 600;
     padding: 5px 25px;
     border-radius: 5px;
 }

 .link:hover{
     background-image: linear-gradient(blue,lightpink);
     cursor: pointer;
     color: red;
 }
.Devisions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    
}

.devision{
    width: 300px;
    height:450px;
    border: 2px solid red;
    background-color: rgba(231, 243, 232, 0.534);
}

.devision img{
    width: 100%;
    height: 30%;
}

.devision-details{
    padding: 0 10px;
    text-align: justify;
}

.name{
    text-align: center;
}

footer{
    text-align: center;
    height: 20px;
}


    




